<ion-view>
  <ion-content>
    <form name="myform" novalidate>
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <input type="email" name="email" placeholder="Please enter your Email" ng-model="user.email" ng-required="true">
        </label>
      </div>
      <div class="align-center">
        <a class="button button-dark" href="#/login">&nbsp &nbsp &nbsp Reset Password &nbsp &nbsp &nbsp</a>
      <div>
    </form>
  </ion-content>
</ion-view>
